 .col {
    background-color: lightcoral;
    width: 1450px;
    
    padding: 55px;
    margin: 120px;
    margin-left: 0px;
    margin-right: 0px;
     }
     img{
         padding-left: 1250px;
         width: 180px;
         height:140px;
     }

     .row{
        padding-right: 500px;
       
        width:100px;
        height:100px;
        margin-right:0px;
        margin-left: 0px;
        display:block;
        position:relative;
        
        
     }
    p{
        text-align: center;
        padding-left: 150px;
        padding-right: 100px;
    }
    h1{
        text-align: center;
        padding-left: 100px;
    }
    img{
        padding-right: 100px;
    }