.letscode{
    background-color: lightcoral;
    width: 1450px;
    padding: 55px;
    margin: 120px;
    margin-left: 0px;
    margin-right: 0px;
     }
     #col{
         padding-left: 1250px;
         width: 180px;
         height:140px;
     }
     #let{
        padding-right: 500px;
       
        width:100px;
        height:100px;
        margin-right:0px;
        margin-left: 0px;
        display:block;
        position:relative;
        margin-top: 0px;
        
        
     }
    p{
        text-align: center;
        padding-left: 150px;
        padding-right: 100px;
    }
    h1{
        text-align: center;
        padding-left: 100px;
    }
    #tech{
        padding-left: 600px;
        width:400px;
        height:300px;
    }

    .leap{
       margin-bottom: 100px;
        }
    #do{
        font-family:   sans-serif;
        white-space: normal;
        position: relative;
       
    }
    #home{
        font-family: sans-serif;
        padding-left: 900px;
        white-space: nowrap;
    }
    