tr,td
 {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
    cursor: pointer;

}

/* table,tr{
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top: 50px;
}
table tr:first-child  td{
    border-top: 0;
}
table tr:last-child  td{
    border-bottom: 0;
}
table tr td:first-child  {
    border-left: 0;
}
table tr td:last-child  {
    border-right: 0;
}
.endgame{
    
} */